<div class="col-sm-12 add-offer" style="margin-top:30px;">
        <form name="add_offer_form" id="add_offer_form" class="form-horizontal form-validation">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Add Offer</h4>
            </div>
            <div class="panel-body" style="min-height:400px">                    
              <div class="form-group">
                <label class="col-sm-3 control-label">Offer Name : </label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" placeholder="Offer Name" ng-model="offer_name" name="offer_name" required >    
                </div>
              </div>
            <br>
              <div class="form-group">
                <label class="col-sm-3 control-label">Offer Description : </label>
                <div class="col-sm-6">
                  <textarea placeholder="Offer Description" rows="6" ng-modal="offer_desc" name="offer_desc" class="form-control ng-valid ng-valid-required" required></textarea>
                </div>
              </div>
			<br> 
			  <div class="form-group">
                <label class="col-sm-3 control-label">Offer Code : </label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" placeholder="Offer Code" ng-model="offer_code" name="offer_code" disabled>    
                </div>
              </div>
			<br>
				<div class="form-group">
                <label class="col-sm-3 control-label">Offer Points : </label>
                <div class="col-sm-6">
				  <input type="number"  placeholder="Offer Points" ng-model="offer_points" name="offer_points" class="form-control ng-untouched ng-dirty ng-valid-number ng-valid ng-valid-required">
                </div>
              </div>
			<br>
				<div class="form-group">
                <label class="col-sm-3 control-label">Image : </label>
                <div class="col-sm-6">
                  <input type="file" name="offer_image" ng-file-change="offerPreview($files)" ng-file-select="">
				  <img src="" id="offer_preview_img" style="width:100px;height:100px;display:none;margin-top:20px;" />
                </div>
              </div>
           <br>
              
			  <div class="form-group">
				<label class="col-sm-3 control-label"></label>
				<div id="add_offer_errors"  class="col-sm-4" style="vertical-align:top;display:inline-block;color:red;font-weight:bold;" >
				{{errmsg}}
				</div>
			  </div>
              
            </div>
			
              
            <footer class="panel-footer text-right bg-light lter">
			  <button type="button" class="btn btn-danger" ng-click="cancel()">cancel</button>
              <button type="submit" class="btn btn-warning" ng-click="submit()">Submit</button>
            </footer>
          </div>
        </form>
      </div>