<div class="col-sm-12 add-offer" style="margin-top:30px;">
        <form name="add_offer_form" id="add_offer_form" class="form-horizontal form-validation">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Add Offer</h4>
            </div>
            <div class="panel-body" style="min-height:400px">                    
              <div class="form-group">
                <label class="col-sm-3 control-label">Name : </label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" placeholder="Offer Name" ng-model="offer_name" name="offer_name" required >    
                </div>
              </div>
            <br>
              <div class="form-group">
                <label class="col-sm-3 control-label">Description : </label>
                <div class="col-sm-6">
                  <textarea placeholder="Offer Description" rows="6" ng-model="offer_d" name="offer_d" class="form-control ng-valid ng-valid-required" required></textarea>
                </div>
              </div>
			<br> 
			  
				<div class="form-group">
                <label class="col-sm-3 control-label">Points : </label>
                <div class="col-sm-6">
				  <input type="number"  placeholder="Offer Points" ng-model="offer_points" name="offer_points" class="form-control ng-valid-number ng-valid ng-valid-required" required>
                </div>
              </div>
			<br>
			  <div class="form-group">
				<label class="col-sm-3 control-label">Image:</label>
				<div class="col-sm-3">
					<input type="file" ng-file-select ng-file-change="onFileSelect($files,'image')" />
				</div>
				<div class="col-sm-3">
					<span style="font-weight:bold" ng-show="imuploading"><i class="fa fa-spinner fa-spin"></i>&nbsp;Uploading...</span><img src="includes/images/green-tick.jpg" height="19" width="23" ng-show="imfinish"/>
				</div>
			  </div>
			<br>
                <div class="form-group">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-3">
                        <img   ng-src="{{myimg}}" ng-show="imguploaded" style="width:200px;height:200px;" />

                    </div>
                </div>
            <br>
              
			  <div class="form-group">
				<label class="col-sm-3 control-label"></label>
				<div id="add_offer_errors"  class="col-sm-4" style="vertical-align:top;display:inline-block;color:red;font-weight:bold;" >
				{{errmsg}}
				</div>
			  </div>
              
            </div>
			
              
            <footer class="panel-footer text-right bg-light lter">
			  <button type="button"  class="btn btn-danger" ng-click="cancel()">cancel</button>
              <button type="submit" class="btn btn-warning" ng-click="submit()">Submit</button>
            </footer>
          </div>
        </form>
      </div>