<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
  <rewrite>
       <rules> 
	   
	  <rule name="Imported Rule 1" stopProcessing="true">
      <match url="^(.*)$" ignoreCase="false" />
      <conditions>
        <!--# RewriteBase /eclipse/project/app/trunk/deployment/live/administrator/-->
        <!--#Removes access to the system folder by users.-->
        <!--#Additionally this will allow you to create a System.php controller,-->
        <add input="{URL}" pattern="^system.*" ignoreCase="false" />
      </conditions>
      <action type="Rewrite" url="vip/index.php?/{R:1}" appendQueryString="false" />
    </rule>
    <rule name="Imported Rule 2" stopProcessing="true">
      <match url="^(.*)$" ignoreCase="false" />
      <conditions>
        <!--#When your application folder isn't in the system folder-->
        <add input="{URL}" pattern="^application.*" ignoreCase="false" />
      </conditions>
      <action type="Rewrite" url="vip/index.php?/{R:1}" appendQueryString="false" />
    </rule>
    <rule name="Imported Rule 3" stopProcessing="true">
      <match url="^(.*)$" ignoreCase="false" />
      <conditions>
        <!--#Checks to see if the user is attempting to access a valid file,-->
        <!--#such as an image or css document, if this isn't true it sends the-->
        <!--#request to index.php-->
        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
      </conditions>
      <action type="Rewrite" url="vip/index.php?/{R:1}" appendQueryString="false" />
    </rule>

	   <rule name="HTTP to HTTPS redirect" stopProcessing="true">
  <match url="(.*)" />
    <conditions>
      <add input="{HTTPS}" pattern="off" ignoreCase="true" />
    </conditions>
  <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
</rule>
                <rule name="Plesk. Wordpress redirect wpConfigRule #57f095cd-8758-4d4a-9bb0-fa9a4b72af4e" stopProcessing="true">
                    <match url="^wp-config.php$" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
</rules>
</rewrite>
 <httpErrors errorMode="Detailed" />
        <asp scriptErrorSentToBrowser="true" />
        <directoryBrowse enabled="false" />
        <staticContent>
            <mimeMap fileExtension=".m4a" mimeType="audio/x-m4a" />
        </staticContent>
    </system.webServer>
 <system.web>
        <customErrors mode="Off" />
        <compilation debug="true" />
    </system.web>
</configuration>