<form name="calendar_event_form" ng-submit="submitEvent()" id="calendar_event_form" class="form-horizontal  form-validation">
    
    <input type="hidden" ng-model="event_id" />
    <div class="modal-header">
        <h3 class="modal-title"><i class="" ng-class="event_header_icon"></i>
            &nbsp;&nbsp; {{header}} Event </h3>
    </div>


    <div class="modal-body" style="min-height:100px;">

        <div class="row">
        <div class="form-group">
          <label class="col-sm-3 control-label">Name :</label>
          <div class="col-sm-8">
            <input type='text' id="event_name" ng-model="event_name" class="form-control maxlength"  placeholder="Event name" required />
          </div>
        </div>
        </div>

        <br>

        <div class="row">
         <div class="form-group">
              <label class="col-sm-3 control-label">Description :</label>
              <div class="col-sm-8">
                <textarea id="event_desc" ng-model="event_desc" class="form-control maxlength" rows="2" placeholder="Event Description" required ></textarea>


              </div>
        </div>
        </div>


        <br>

        <div class="row">
        <div class="form-group">
            <label class="col-sm-3 control-label">Event Icon:</label>
            <div class="col-sm-4 col-md-4">

        <div class="btn-group" dropdown>
          <button type="button" class="btn btn-default" style="height:50px !important;width:70px; !important"><img ng-src="{{chosenicon}}" style="height:45px !important;width:55px; !important;margin-top:-5px;margin-left:-5px;" /> <span style="visibility:hidden">Please choose Icon</span></button>
          <button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle style="height:50px;">
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
          </button>
          <ul class="dropdown-menu" role="menu" style="width:88px !important;height:200px;overflow-y:auto">
          <li ng-repeat="icn in eventIcons" style="cursor:pointer;width:50px !important;padding-left:10px !important;padding-top:10px;" ng-click="setIcon({{icn}})"><img ng-src="{{icn.Icon}}" style="min-height:40px;min-width:40px;max-height:50px;max-width:50px;" /></li>
          </ul>
        </div>

            </div>
            </div>
        </div>
    


        <br>
		<br />
		<div class="row">
        <div class="form-group">
			<label class="col-sm-3 control-label">Start date:</label>
			<div class="col-sm-6">
       
				<div id ="dt_container" class="btn-group" dropdown is-open="status.isopen">
				
				  <div class="input-group" dropdown-toggle>
							
							<label class="form-control dropdown-toggle">{{data.embeddedDT | date: 'dd-MM-yyyy h:mm a'}}</label>
							<span class="input-group-addon" ><i class="glyphicon glyphicon-calendar"></i></span>
				   </div>
				  <ul class="dropdown-menu" role="menu">
					<datetimepicker data-ng-model="data.embeddedDT"
										data-on-set-time="onTimeSet()"
										data-before-render="beforeRender($dates)"></datetimepicker>
				  </ul>
				</div>
			</div>
		  </div>
		</div>

        <br>


        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
            <p style="color:red;font-weight:bold" ng-show="showemsg">{{emsg}}</p>
            </div>
        </div>
		
		<br />
		 

            
        


    </div>
    </div>   

    <div class="modal-footer">                  
         <button type="button"  class="btn btn-danger" ng-click="cancel()">cancel</button>
         <button type="submit" class="btn btn-warning" >Submit</button>
    </div>


</form>

<style>
	select { -webkit -appearance:none }
	.dropdown-menu {
		min-width:75px !important;
	}
</style>
