<div>
  <div class="wrapper-md bg-light b-b">
    <button type="button" class="btn btn-default btn-addon pull-right m-t-n-xs" ui-toggle-class="show" target="#aside">
      <i class="fa fa-bars"></i> List
    </button>
    <h1 class="m-n font-thin h3">Events</h1>
  </div>
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col wrapper-md">
      <div class="clearfix m-b">
        <button type="button" tooltip="Double click on calendar day to create event" class="btn btn-sm btn-primary btn-addon" ng-click="addEvent()">
          <i class="fa fa-plus"></i>Add
        </button>
<!--
        <div class="pull-right">
          <button type="button" class="btn btn-sm btn-default" ng-click="today()">today</button>
          <div class="btn-group m-l-xs">
            <button class="btn btn-sm btn-default" ng-click="changeView('agendaDay')">Day</button>
            <button class="btn btn-sm btn-default" ng-click="changeView('agendaWeek')">Week</button>
            <button class="btn btn-sm btn-default" ng-click="changeView('month')">Month</button>
          </div>
        </div>
-->
      </div>
      <div class="pos-rlt">
        <div class="fc-overlay">
          <div class="panel bg-white b-a pos-rlt">
            <span class="arrow"></span>
            <div class="h4 font-thin m-b-sm">{{event.title}}</div>
<!--
             <div class="pull-right">
                <h1>{{event.title}}</h1>
            <button class=" text-xs text-muted" ng-click="overlayEdit()"><i class="fa fa-edit"></i></button>
            <button class=" text-xs text-muted" ng-click="remove(event._id,event.id,'md')"><i class="fa fa-trash-o"></i></button>
          </div>
-->
            <div class="line b-b b-light"></div>
            <div><i class="icon-calendar text-muted m-r-xs"></i> {{event.start | date:'medium'}}</div>
            <div class="ng-hide" ng-show='event.end'><i class="icon-clock text-muted m-r-xs"></i> {{event.end | date:'medium'}}</div>
            <div class="ng-hide" ng-show='event.icon'><img src="{{event.icon}}" class="icon-pointer text-muted m-r-xs" style="padding:10px;width:50px;height:50px;" /> </div>
            <div class="m-t-sm">{{event.info}}</div>
          </div>
        </div>
        <div class="calendar" ng-model="eventSources" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
      </div>
    </div>
    <div class="col w-md w-auto-xs bg-light dk bg-auto b-l hide" id="aside" >
      <div class="wrapper" style="height:534px !important;overflow-x:hidden !important;">
        <div ng-repeat="e in events" class="bg-white-only r r-2x m-b-xs wrapper-sm {{e.className[0]}}">          
          <div class="m-t-n-xs no-border no-padder no-bg">{{e.title}}</div>
          <div class="pull-right">
            <a class=" text-xs text-muted" ng-click="edit(e)"><i class="fa fa-edit"></i></a>
            <a class=" text-xs text-muted" ng-click="remove($index,e.id,'md')"><i class="fa fa-trash-o"></i></a>
          </div>
          <div class="ng-hide" ng-show='e.icon'><img src="{{e.icon}}" class="icon-pointer text-muted m-r-xs" style="padding:10px;width:50px;height:50px;" /> </div>
            
          <div class="text-xs text-muted">{{e.start | date:"MMM dd"}}</div>
          <div class="text-xs text-muted">{{e.info}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function(){
        // we will add custom class after rendering calender
        
        setTimeout(function(){
            $("a.fc-day-grid-event").addClass("b-l b-2x b-info");
            
           

        },500);
        
    });
</script>