<div class="col-sm-12 add-reward" style="margin-top:5px;">
  
  <!-- toaster directive -->
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <!-- / toaster directive -->
    
          <div class="panel panel-default">
            <div class="panel-heading col-sm-12">
              <h4>Themes</h4>
                <h4 class="" style="color:red">{{errmsg}}</h4>
                
                    <div style="border:1px solid #ccc;padding:20px 0;">
                        <div class="row col-sm-12">
                            <p class="text-center text-danger ">* Please Choose an image with 1242 x 2208 resolution</p>
                        </div>
                
                        <div class="row">
                             <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Choose Theme:</label>
                                <div class="col-sm-3">
                                    <input type="file" ng-file-select ng-file-change="onFileSelect($files,'theme')" />
                                </div>
                                <div class="col-sm-3">
                                    <span style="font-weight:bold" ng-show="imuploading"><i class="fa fa-spinner fa-spin"></i>&nbsp;Uploading...</span><img src="includes/images/green-tick.jpg" height="19" width="23" ng-show="imfinish"/>
                                </div>
                                     
                                 <div class="inline col-sm-3">
                                    <button class="btn btn-warning inline"  ng-click="addTheme()">Add Themes <i class="fa fa-plus"></i></button>
                                 </div>

                              </div>
                              
                            
                            </div>
                        </div>
                        <br>
                        <div class="row form-group">
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-6">
                                <img   ng-src="{{myimg}}" ng-show="imguploaded" style="width:300px;height:400px;" />

                            </div>
                        </div>
                    </div> 
                    
                        <br><br>
                
                        <div class="row">
                             <div class="col-sm-6">
<!--
                                <div class="inline col-sm-8">
                                     Search: <input ng-model="search_filter" type="text" class="form-control input-sm w-sm inline m-r" /><button class="btn btn-primary" ng-click="getSearchThemesList()">Search</button>
                                </div>
-->
                                 <div class="btn-group" dropdown>
                                  <button type="button" class="btn btn-danger">Action</button>
                                  <button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a ng-click="toggleCheckboxes(0)">Select All</a></li>
                                    <li class="divider"></li>
                                    <li><a ng-click="toggleCheckboxes(1)">UnSelect All</a></li>
                                  </ul>
                                </div>
                                
                                <div class="inline col-sm-4">
                                    <button class="btn btn-warning inline " ng-disabled="isDisableButton" ng-click="removeTheme()">Remove Themes <i class="fa fa-file-photo-o"></i></button>
                                </div>
                            </div >
                            <div class="col-sm-6">
                               
                                <h5 class="inline pull-right" style="font-style:bold;font-size:15px;"><b>Seleted Themes </b>: {{sltd_tms}} </h5>
                            </div>
                            
                        
                        </div>
                        
                    
                
            </div>
            <div class="panel-body">                                
                
                <div id="list_themes_container">
                    
                    
                    <div class="col-sm-12" style="margin-top:10px;">
                        <div class="row themes_container">
                            
                            
                            <div class="col-sm-3" ng-repeat="theme in themes_list">
                              <div class="well">
                                <button type="button" ng-click="closeAlert($index,theme,'md')" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="checkbox inline">
                                    <label class="i-checks">
                                        <input type="checkbox" value='{{theme}}' ng-click ="enableRemoveTheme()" />
                                        <i></i>
                                    </label>
                                </div>
                                <img src={{theme.thumb}} style="width:150px;height:150px;" class="img-rounded" />
<!--                                <h5 style="display:block;text-align:center">{{theme.name}}</h5>-->
                              </div>
                           </div>
                            
                        </div>
                    </div>
                    
                    
                </div>
              
            </div>
          
        </div>
</div>

<style>
   
    #list_themes_container{
        max-height:400px;
        min-height:400px;
        overflow-x: hidden;
        border:1px solid #ccc;
    }
    
    #list_themes_container .panel-heading
    {
        border-bottom:1px solid #ccc;
    }
    
   
    

</style>